<!DOCTYPE html>
<html lang="fr">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<title>The Gossip Project - Team</title>
</head>
<body>
<header>
		<nav class="navbar navbar-light" style="background-color: #7C53B8;">
	  <!-- Navbar content -->
		  <a class="navbar-brand" href="/">Home</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav">
		    	<ol>
		    	<li><a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a></li>	
			    <li><a class="nav-item nav-link" href="#">Features</a></li>  
			    <li><a class="nav-item nav-link" href="#">Pricing</a></li>
			    <li><a class="nav-item nav-link disabled" href="#">Disabled</a></li>
		    	</ol>
		    </div>
		  </div>
		</nav>
	</header>
	<h1>Qui sommes nous?</h1>
	<h2>Voici notre equipe:</h2>
	<p>Miguel...</p>
</body>
</html>
